@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600;700&display=swap');


*{
    font-family: 'Spartan', sans-serif !important;
}

    $color-beaver: #9e7f66;
    $color-cod-gray: #111111;
    $color-mirage: #17192b;
    $color-ebony-clay: #242b37;
    $color-shuttle-gray: #5c6779;
    $color-dark-gray: #4c4c4c;
    $color-white: #fff;
    $color-border: rgba(151, 151, 151, 0.15);
    $color-dark-blue-shaodw: rgba(56, 66, 85, 0.5);
    $color-error: #B54949;
    $weight-light: 300;
    $weight-regular: 400;
    $weight-semi-bold: 600;
    $weight-bold: 700;
    $transition: 300ms ease-in-out;
    $card-shadow: 0 7.5rem 10rem -5rem var($color-dark-blue-shaodw);

    .hero{
        width:100%;
        background-size: cover;
    background-image: url('./images/homepage/hero-bg-desktop.jpg');
        
        min-height: 110vh;
        background-color: $color-cod-gray;
    
.nav{
    width:100%;
  
padding-top: 10vh;
   
}
.col{
    padding: 0;
    min-height: 100vh;
}

.hero-txt{
    width:100%;
    margin-top: 20vh;
    color: $color-white;
    h1{
        font-size: 64px;
        line-height: 110%;
        text-transform: capitalize;
      
        margin-bottom:25px;
    }
    p{
    font-size: 18px;
    line-height: 150%;
    margin: 25px 0;
    margin-bottom: 50px;
    }
    a{
        border: 1px solid $color-white;
        color: $color-white;

        padding: 20px 30px;
       
        &:hover{
            background-color:$color-white;
            color: $color-cod-gray;
            text-decoration: none;

        }
    }
}

}



.features{
  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    min-height: 100vh;
    #b-div{
        &::before{
            width: 40%;
            height: 15%;
            position: absolute;
            content:""; 
            background-image: url('./images/patterns/pattern-lines.svg');
            z-index: 4;
            background-size: cover;
            right:-25%;
            top: 40%;
        }
    }
.txt{
    width: 75%;
    h1{
        font-weight: bold;
        color: $color-mirage;
        line-height: 125%;
        margin: 25px 0;
    }
    p{
        font-size: 18px;
        line-height: 150%;
    }
}
.colm{
    min-height: 100vh;
    display: flex;
    justify-content:start;
    align-items:center;
    padding: 0 2em;

}
.b-img{
    margin-top: 0 !important;
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
}

    .e-img,.b-img{
        position: relative;
margin-top: -10vh;
        width: 100%;
        box-shadow:
  0 2.9px 2.2px rgba(0, 0, 0, 0.008),
  0 6.9px 5.3px rgba(0, 0, 0, 0.012),
  0 13px 10px rgba(0, 0, 0, 0.015),
  0 23.2px 17.9px rgba(0, 0, 0, 0.018),
  0 43.4px 33.4px rgba(0, 0, 0, 0.022),
  0 104px 80px rgba(0, 0, 0, 0.03)
;
        height:auto;
    }
    background-color: $color-white;
}

.highlights{
    width: 100%;
    min-height: 100vh;
     position: relative;
     margin-top: -15vh;
    background-color: #111111;

    .h_col{
display: flex;
justify-content: center;
align-items:center;
flex-direction: column;
        min-height: 100vh;
    }
    color: white;
    .txt{
        h1{
            margin-bottom: 25px;
        }
        width:60%;
    }

    .border-f{
        border-bottom: 0.5px solid rgba(204, 204, 204, 0.445);
border-left: none; 
        border-top: 0.5px solid rgba(204, 204, 204, 0.445);
    }
    .f-card{
        width:80%;
        margin: 0px auto;
        padding: 20px 0;
 
        h2{
            font-size:18px;
            font-weight: bold;
        }
        >div{
            padding: 0;
        }
        img{
            object-fit: contain;
            width:auto;
            height:auto;
            max-width: 100%;
            position: relative;
            z-index: 2;
            max-height: 100%;
        }
        p{
            font-size: 16px;

            line-height: 150% !important;
        }

        svg{
            position: relative;
            margin-left: -20%;
z-index: 1;
margin-top: -20px;
        }
    }
}

.row{
    margin-left: auto !important;
    margin-right: auto !important;
}

.b-heading{
    font-size: 40px;
    line-height: 125%;
    font-weight: bold;
}



.events{
    width: 100%;
.e-col{
    min-height: 100vh ;
display: flex;
padding: 20px;
img{
    transition:all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow:
  0 7px 2.7px rgba(0, 0, 0, 0.019),
  0 17.6px 6.9px rgba(0, 0, 0, 0.027),
  0 36px 14.2px rgba(0, 0, 0, 0.033),
  0 74.1px 29.2px rgba(0, 0, 0, 0.041),
  0 203px 80px rgba(0, 0, 0, 0.06)
;
}
justify-content: center;
align-items:center;
flex-direction: column;
p{
    margin: 20px auto;
    line-height: 150%;
    font-size: 18px;
}
 button{
    position: relative;
    min-width: 250px;
    background-color: #111111;
    color: white;
    padding: 25px 30px;
    margin-bottom: 20px;
    box-shadow: none;
    border:none;
    &:hover{
        transition:1s ease-in-out;
        background-color: white;
        color: #111111;
        border: 1px solid #111111;
        text-decoration: none;
    }
}
}
ul{
    padding: 0px;
}
.active{
    color: black !important;
    opacity: 1 !important;
}
li{
    margin: 20px 0;
    font-size: 16px;
    opacity: 0.7;
    font-weight: var(--weight-semi-bold);
    text-transform: uppercase;
    list-style: none;
    cursor: pointer;
    color: #ccc;
    transition: all 0.5s ease-in-out;
}
}
@media screen and (max-width:718px){
    * .col{
   max-width: 100% !important;
       min-width:100% !important;

    }

    .b-img{
        width:100%;
        height:50vh;
    }
    .hero .nav{
        margin-top: 20vh;
        justify-content:center;
        align-items:center;
        text-align: center !important;
    }
    .features .txt{
        width:95%;
        margin: 0 auto;
    }
    .features .colm,.highlights .h_col,.events .e-col,footer .f_col{
        padding:20px 0;
        min-height: auto !important;
    }
    .reservation .container{
        padding: 20px;
        flex-wrap: wrap;
     width: 90%;
        a{
            margin: 0 auto;
        }
        h1{
            width: 100% !important;

        }
    }
    .events .e-col{
        width:85%;
        margin: 0 auto;
    }
    .highlights{
        margin: 0 !important;
    }
    .highlights .f-card img{
        margin:20px auto !important;
    }
    .hero{
        padding-bottom: 50px;
        background-image: url('./images/homepage/hero-bg-mobile.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        .hero-txt{
        margin-top: 10vh;
        padding: 20px;
        text-align: center;
        h1{
            text-align: center;
            font-size: 62px;
            line-height: 125%;
        }
        }
    }

    .features #b-div::before{
        display: none;
    }
    .hero .hero-txt{
        min-height: auto !important;
        padding: 10px 0;
    }
    .features .e-img, .features .b-img{
        margin: 20px 0 !important;
    }
}


@keyframes opacityControl {
    from {opacity: 0}
    to {opacity: 1;}
  }


.reservation{
    overflow: hidden;
    position: relative;
    width: 100%;
    .dark::before{
        width: 100%;
        height: 30vh;
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        
    }
    .container{
        margin: 0 auto;
        position: relative;
        z-index: 1;
        min-height: 30vh;
        display: flex;
        justify-content: space-between;
        align-items:center;
        button{
            background-color: transparent !important;
            color: white;
            position: relative;
            z-index: 4;
            &:hover{
                transition: 1s ease-in-out;
                background-color: white;
            }
            padding: 20px 35px;
            border: 1px solid white;
        }
    }
    color: white;
    min-height: 30vh;
    background-size:cover;
    background-image: url('./images/homepage/ready-bg-desktop.jpg');
}

footer{
    width: 100%;
    background-color: #111111;
    .f_col{
        min-height: 40vh;
        padding: 20px;
h4{
    font-size: 16px;
    letter-spacing: 0.1em;
    color: white;
    margin: 10px 0;
}
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
     
    }
}